[submodule "notes/code-ana_graphify/graphify"]
	path = notes/code-ana_graphify/graphify
	url = https://github.com/safishamsi/graphify.git
[submodule "notes/code-ana_opencode/opencode"]
	path = notes/code-ana_opencode/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "notes/code-ana_hermes-agent/hermes-agent"]
	path = notes/code-ana_hermes-agent/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "notes/code-ana_codex/codex"]
	path = notes/code-ana_codex/codex
	url = https://github.com/openai/codex.git
